<%= form_for([@item, @experience]) do |f| %>
  <% if @experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% @experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %> / <%= @item.unit %>
  </div><div class="field">
    <%= f.label :bought_at %><br>
    <%= f.text_field :bought_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
