<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @experience.item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @experience.price %>
</p>
<p>
  <strong>Bought At:</strong>
  <%= @experience.bought_at %>
</p>

<%= link_to 'Edit', edit_item_experience_path(@item, @experience) %> |
<%= link_to 'Back', item_experiences_path %>
