<!DOCTYPE html>
<html>
<head>
  <title>PriceLog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="globalHeader">
    <div class="globalHeader-app"><%= link_to 'PriceLog', root_path %></div>
    <div class="globalHeader-info">
      <% if current_user %>
        <div class="globalHeader-info-item globalHeader-menu">
          <div class="globalHeader-menu-title"><%= current_user.name %></div>
          <div class="globalHeader-menu-list">
            <%= link_to 'Log out', logout_path, class: 'globalHeader-menu-item' %>
          </div>
        </div>
      <% else %>
        <div class="globalHeader-info-item globalHeader-menu">
          <div class="globalHeader-menu-title">Log in</div>
          <div class="globalHeader-menu-list">
            <%= link_to 'Twitter', login_path(:twitter), class: 'globalHeader-menu-item' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<%= yield %>

</body>
</html>
